body {
  font-family: Georgia, serif;
}


canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.credits-text {
  position: fixed;
  bottom: 10px; 
  right: 10px; 
  padding: 5px;
  z-index: 1000;
  color: white;
  font-size: large;
}

.instructions-text {
  position: fixed;
  bottom: 10px; 
  left: 10px; 
  padding: 5px;
  z-index: 1000;
  color: white;
  font-size: large;
}

#menu {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.7);
  padding: 12px;
  border-radius: 6px;
}

#menu label {
  color: white;
  font-size: larger;
}

#menu select {
  font-size: large;
  padding: 6px 10px;
  font-family: "Georgia";

  background: transparent;     
  color: white;                
  border: 2px solid white;      
  border-radius: 4px;


}

#menu option {
  background: black;            
  color: white;                 
  font-family: "Georgia"
}

#menu input[type="checkbox"] {
  width: 18px;
  height: 18px;
  background-color: black;   
  border: 2px solid white; 
  border-radius: 3px;
  vertical-align: middle;
  margin-right: 6px;
  accent-color: white;       
  cursor: pointer;
}

#shader-options label {
  margin-right: 8px;
}

input[type=range] {
  width: 150px;           
  height: 6px;                
  background: #fff;           
  border-radius: 3px;
  outline: none;
  margin: 5px 0;
}